@model CyrusCustomer.Models.CustomerListViewModel

<form asp-action="Assign">
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Assign to Users</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>
                        @foreach (var user in Model.Users)
                        {
                            <div>
                                <input type="checkbox"
                                       name="CustomerAssignments[@customer.Id][]"
                                       value="@user.Id"
                                @(Model.CustomerUserAssignments[customer.Id].Contains(user.Id) ? "checked" : "") />
                                @user.UserName
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit">Update Assignments</button>
</form>
