@model CyrusCustomer.Domain.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
}
<h2>@ViewData["Title"]</h2>


<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxId" class="control-label"></label>
                <input asp-for="TaxId" class="form-control" readonly/>
                <span asp-validation-for="TaxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" readonly/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" readonly/>
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsiblePerson" class="control-label"></label>
                <input asp-for="ResponsiblePerson" class="form-control" readonly/>
                <span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserUpdated" class="control-label"></label>
                <input asp-for="UserUpdated" class="form-control" />
                <span asp-validation-for="UserUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" type="date" value="@Model.UpdateDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="UpdateConfirmed" class="form-check-input" />
                <span asp-validation-for="UpdateConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>  

